$blockEM: 24px
$realEM: 16px
$sidebarw: 3em
$notblack: rgba(0,0,0,.75)
$notwhite: rgba(241,241,241,1)
    
html

    body
        font-size: $blockEM
        color: $notblack
        background-color: $notwhite
        width: 100vw
        height: 100vh
        box-sizing: border-box

        div
            display: block


@import './app/**/*.sass'
@import './sidebar/**/*.sass'