$sidebarw: 3em
$notblack: rgba(0,0,0,.75)
$notwhite: rgba(241,241,241,1)
    
html

    body
        font-size: 24px
        color: $notblack
        background-color: $notwhite
        width: 100vw
        height: 100vh

@import './app/**/*.sass'
@import './sidebar/**/*.sass'