@font-face
    font-family: 'Brainy'
    src: url('/assets/fonts/Brainy/Brainy.woff') format('woff'), url('/assets/fonts/Brainy.ttf') format('truetype')
    font-style: normal
    font-weight: normal

@each $theWeight in $weights
	+fontFace('Texta',$theWeight)
    
html, body, .row, .col
    margin: 0
    padding: 0

html
    -webkit-overflow-scrolling: touch

    body
        overflow: hidden
        position: relative
        font-family: 'Texta', sans-serif
        font-style: normal
        font-weight: 200
        font-size: $blockEM
        color: black(.85)
        background-color: offwhite()
        background-image: url('../img/loader.gif')
        background-size: 15%
        background-position: center
        background-repeat: no-repeat
        width: 100vw
        height: 100vh
        box-sizing: border-box
        transition: color .25s ease-in-out
        transition: background-color .25s ease-in-out

        &.dark-mode
            background-color: black(.85)
            color: white(.85)

        label
            color: inherit !important

        [type="checkbox"] + span:not(.lever)
            line-height: 1em
            height: 1em
            padding-left: $huge

        [type="checkbox"].filled-in:not(:checked) + span:not(.lever)

            &:after
                height: 1em
                width: 1em

        [type="checkbox"].filled-in:checked + span:not(.lever)

            &:before
                top: -2px
                left: 0
                width: 6px
                height: $small

            &:after
                height: 1em
                width: 1em
                border: 2px solid azure()
                background-color: azure()

        .row, .col, .col .row, .row .col
            margin-top: 0
            margin-bottom: 0
            margin-left: 0
            margin-right: 0
            padding-top: 0
            padding-bottom: 0
            padding-left: 0
            padding-right: 0

        .z-depth-1
            +shadow-1

        .z-depth-2
            +shadow-2

        .z-depth-3
            +shadow-3

        .z-depth-4
            +shadow-4

        .z-depth-5
            +shadow-5

        h1,h2
            font-size: $huge

        h3,h4
            font-size: $medium

        h1        
            font-weight: 800
            text-transform: uppercase

        h3
            font-weight: 600

        h6
            font-weight: 200

        @for $i from 1 through 6
            h#{$i}
                margin: 0

        i
            font-family: 'Brainy' !important
            speak: none
            font-style: normal
            font-weight: normal
            font-variant: normal
            text-transform: none
            line-height: 1
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale

@each $key, $val in $brainy
    .#{$key}
        
        &:before
            content: $val