@mixin loading
    visibility: hidden
    opacity: 0

$blockEM: 24px
$realEM: 16px
$sidebarw: 3em
$notblack: rgba(0,0,0,.75)
$white: rgba(255,255,255,1)
$notwhite: rgba(241,241,241,1)
$videowidth: 18em
$navw: 13.5em
$console: rgb(0, 255, 0)
$azure: #109FDA

html, body
    margin: 0
    padding: 0

body
    overflow: hidden
    position: relative
    font-size: $blockEM
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
    color: $notblack
    background-color: white
    background-image: url('../img/loader.gif')
    background-size: 15%
    background-position: center
    background-repeat: no-repeat
    width: 100vw
    height: 100vh
    box-sizing: border-box
    transition: color .25s ease-in-out
    transition: background-color .25s ease-in-out

    &.dark-mode
        background-color: black
        color: $notwhite