@font-face
    font-family: 'Brainy'
    src: url('/assets/fonts/Brainy/Brainy.woff') format('woff'), url('/assets/fonts/Brainy.ttf') format('truetype')
    font-style: normal
    font-weight: normal

@each $theWeight in $weights
	+fontFace('Texta',$theWeight)

/* -------------------------------------------------- */

html
    box-sizing: border-box
    line-height: 1
    -webkit-overflow-scrolling: touch

*, *:before, *:after
    box-sizing: inherit
    margin: 0
    padding: 0

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
    display: block

body
    overflow: hidden
    position: relative
    font-family: $font-stack
    font-style: normal
    font-weight: 200
    font-size: $blockEM
    color: black(.85)
    background-color: white()
    background-image: url('../img/loader.gif')
    background-size: 16.66%
    background-position: center
    background-repeat: no-repeat
    width: 100vw
    height: 100vh

a
    text-decoration: none
    color: inherit
    -webkit-tap-highlight-color: transparent

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

input, select, textarea
    font-size: 1em
    outline: none !important

    &::selection
        background: azure()
        color: white()

label
    color: inherit !important

button, a.btn
    opacity: .9
    color: white()
    background-color: gray
    font-size: .75em
    text-transform: uppercase
    padding: .5em 1em
    border-radius: .25em
    font-weight: 600
    cursor: pointer
    @extend .z-depth-2
    transition: opacity .1s linear

    &:hover
        opacity: 1

[type="checkbox"] + span:not(.lever)
    line-height: 1em
    height: 1em
    padding-left: $huge

[type="checkbox"].filled-in:not(:checked) + span:not(.lever)

    &:after
        height: 1em
        width: 1em

[type="checkbox"].filled-in:checked + span:not(.lever)

    &:before
        top: -2px
        left: 0
        width: 6px
        height: $small

    &:after
        height: 1em
        width: 1em
        border: 2px solid azure()
        background-color: azure()

.z-depth-1
    +shadow-1

.z-depth-2
    +shadow-2

.z-depth-3
    +shadow-3

.z-depth-4
    +shadow-4

.z-depth-5
    +shadow-5

h1,h2
    font-size: $huge

h3,h4
    font-size: $medium

h1        
    font-weight: 800
    text-transform: uppercase

h3
    font-weight: 600

h6
    font-weight: 200

@for $i from 1 through 6
    h#{$i}
        margin: 0

i
    font-family: 'Brainy' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@each $key, $val in $brainy
    .#{$key}
        
        &:before
            content: $val

+MQ($mq-tportrait)
    body
        overflow: auto
        height: auto
        background-size: 40%