// Font Weights //
$weights: 200 400 600 800

// Responsive sizes //
$ittybitty: .25em
$tiny: .5em
$small: .75em
$medium: 1.25em
$large: 1.5em
$huge: 2em

// Static sizes //
$blockEM: 24px
$bodytext: 20px
$bodyw: 1200px
$headerh: 2.5em

// Breakpoints //
$mq-mobile: 767px
$mq-tportrait: 992px
$mq-tablet: 1200px
$mq-desktop: 1365px
$mq-wide: 1800px

$stripes: linear-gradient(to right, sunrise() 20%,goldenrod() 20%,goldenrod() 40%,olive() 40%,olive() 60%,seafoam() 60%,seafoam() 80%,azure() 80%)

$brainy: ("brainy-3d-printer": "\e900",
"brainy-3d-scanner": "\e901",
"brainy-3d": "\e902",
"brainy-abacus": "\e903",
"brainy-aim": "\e904",
"brainy-alarm-clock": "\e905",
"brainy-alien01": "\e906",
"brainy-alien02": "\e907",
"brainy-alien03": "\e908",
"brainy-alphabet": "\e909",
"brainy-apple01": "\e90a",
"brainy-apple02": "\e90b",
"brainy-art": "\e90c",
"brainy-atom": "\e90d",
"brainy-award01": "\e90e",
"brainy-award02": "\e90f",
"brainy-award03": "\e910",
"brainy-award04": "\e911",
"brainy-bacteria": "\e912",
"brainy-badge": "\e913",
"brainy-ball01": "\e914",
"brainy-ball02": "\e915",
"brainy-ball03": "\e916",
"brainy-battery": "\e917",
"brainy-bell01": "\e918",
"brainy-bell02": "\e919",
"brainy-binoculars": "\e91a",
"brainy-biohazard": "\e91b",
"brainy-blackboard01": "\e91c",
"brainy-blackboard02": "\e91d",
"brainy-blackboard03": "\e91e",
"brainy-blaster": "\e91f",
"brainy-bomb": "\e920",
"brainy-book01": "\e921",
"brainy-book02": "\e922",
"brainy-book03": "\e923",
"brainy-book04": "\e924",
"brainy-book05": "\e925",
"brainy-book06": "\e926",
"brainy-bookshelf": "\e927",
"brainy-bottle": "\e928",
"brainy-brain": "\e929",
"brainy-briefcase": "\e92a",
"brainy-burner": "\e92b",
"brainy-calculation": "\e92c",
"brainy-calculator": "\e92d",
"brainy-calendar01": "\e92e",
"brainy-calendar02": "\e92f",
"brainy-calendar03": "\e930",
"brainy-cell": "\e931",
"brainy-certificate": "\e932",
"brainy-chair": "\e933",
"brainy-chart-analysis": "\e934",
"brainy-chart01": "\e935",
"brainy-chart02": "\e936",
"brainy-chart03": "\e937",
"brainy-chart04": "\e938",
"brainy-chart05": "\e939",
"brainy-checklist01": "\e93a",
"brainy-checklist02": "\e93b",
"brainy-chem-formula": "\e93c",
"brainy-class": "\e93d",
"brainy-clock": "\e93e",
"brainy-coffee": "\e93f",
"brainy-comet": "\e940",
"brainy-compasses": "\e941",
"brainy-constellation": "\e942",
"brainy-desk": "\e943",
"brainy-dinosaur": "\e944",
"brainy-dna01": "\e945",
"brainy-dna02": "\e946",
"brainy-dna03": "\e947",
"brainy-drawer": "\e948",
"brainy-electricity": "\e949",
"brainy-eraser": "\e94a",
"brainy-exclamation-mark": "\e94b",
"brainy-eye-dropper": "\e94c",
"brainy-file01": "\e94d",
"brainy-file02": "\e94e",
"brainy-file03": "\e94f",
"brainy-file04": "\e950",
"brainy-file05": "\e951",
"brainy-file06": "\e952",
"brainy-file07": "\e953",
"brainy-file08": "\e954",
"brainy-file09": "\e955",
"brainy-fire": "\e956",
"brainy-flag": "\e957",
"brainy-flash": "\e958",
"brainy-flask-burner": "\e959",
"brainy-flower": "\e95a",
"brainy-flying-saucer01": "\e95b",
"brainy-flying-saucer02": "\e95c",
"brainy-flying-saucer03": "\e95d",
"brainy-folder-online": "\e95e",
"brainy-folder01": "\e95f",
"brainy-folder02": "\e960",
"brainy-folder03": "\e961",
"brainy-folders": "\e962",
"brainy-football-helmet": "\e963",
"brainy-formula01": "\e964",
"brainy-formula02": "\e965",
"brainy-formula03": "\e966",
"brainy-formula04": "\e967",
"brainy-formula05": "\e968",
"brainy-formula06": "\e969",
"brainy-frog": "\e96a",
"brainy-galaxy": "\e96b",
"brainy-gears": "\e96c",
"brainy-genetics01": "\e96d",
"brainy-genetics02": "\e96e",
"brainy-geometry01": "\e96f",
"brainy-geometry02": "\e970",
"brainy-glasses01": "\e971",
"brainy-glasses02": "\e972",
"brainy-globe01": "\e973",
"brainy-globe02": "\e974",
"brainy-graduation-hat": "\e975",
"brainy-h2o": "\e976",
"brainy-head-arrows": "\e977",
"brainy-head-atom": "\e978",
"brainy-head-brain": "\e979",
"brainy-head-check": "\e97a",
"brainy-head-compass": "\e97b",
"brainy-head-exlamation": "\e97c",
"brainy-head-gears": "\e97d",
"brainy-head-hourglass": "\e97e",
"brainy-head-idea": "\e97f",
"brainy-head-question": "\e980",
"brainy-head-recycling": "\e981",
"brainy-head-target": "\e982",
"brainy-headphones": "\e983",
"brainy-heart": "\e984",
"brainy-history": "\e985",
"brainy-hourglass": "\e986",
"brainy-lab-flask01": "\e987",
"brainy-lab-flask02": "\e988",
"brainy-lab-flask03": "\e989",
"brainy-lab-flask04": "\e98a",
"brainy-lab-mouse": "\e98b",
"brainy-lamp": "\e98c",
"brainy-languages": "\e98d",
"brainy-laptop01": "\e98e",
"brainy-laptop02": "\e98f",
"brainy-laptop03": "\e990",
"brainy-laptop04": "\e991",
"brainy-laptop05": "\e992",
"brainy-laptop06": "\e993",
"brainy-law": "\e994",
"brainy-light": "\e995",
"brainy-lightbulb01": "\e996",
"brainy-lightbulb02": "\e997",
"brainy-magnet": "\e998",
"brainy-magnifying-glass": "\e999",
"brainy-marker": "\e99a",
"brainy-microchip": "\e99b",
"brainy-microscope": "\e99c",
"brainy-mitosis": "\e99d",
"brainy-molecule01": "\e99e",
"brainy-molecule02": "\e99f",
"brainy-molecule03": "\e9a0",
"brainy-molecule04": "\e9a1",
"brainy-molecule05": "\e9a2",
"brainy-molecule06": "\e9a3",
"brainy-molecule07": "\e9a4",
"brainy-molecule08": "\e9a5",
"brainy-mortar": "\e9a6",
"brainy-mouse": "\e9a7",
"brainy-music01": "\e9a8",
"brainy-music02": "\e9a9",
"brainy-music03": "\e9aa",
"brainy-music04": "\e9ab",
"brainy-newspaper": "\e9ac",
"brainy-notebook": "\e9ad",
"brainy-omega": "\e9ae",
"brainy-owl": "\e9af",
"brainy-painting": "\e9b0",
"brainy-paleontology": "\e9b1",
"brainy-paper-2": "\e9b2",
"brainy-paper-5": "\e9b3",
"brainy-paper-a": "\e9b4",
"brainy-paper-clip": "\e9b5",
"brainy-paper-f": "\e9b6",
"brainy-paper-fail": "\e9b7",
"brainy-paper-pass": "\e9b8",
"brainy-paper-plane": "\e9b9",
"brainy-paw": "\e9ba",
"brainy-pen": "\e9bb",
"brainy-pencil": "\e9bc",
"brainy-pens-pencils": "\e9bd",
"brainy-philosophy": "\e9be",
"brainy-pi": "\e9bf",
"brainy-pie-chart": "\e9c0",
"brainy-pills": "\e9c1",
"brainy-pin": "\e9c2",
"brainy-planet01": "\e9c3",
"brainy-planet02": "\e9c4",
"brainy-planet03": "\e9c5",
"brainy-planet04": "\e9c6",
"brainy-planet05": "\e9c7",
"brainy-planet06": "\e9c8",
"brainy-planet07": "\e9c9",
"brainy-pocket": "\e9ca",
"brainy-political-science": "\e9cb",
"brainy-printer": "\e9cc",
"brainy-psi": "\e9cd",
"brainy-pulse": "\e9ce",
"brainy-pupil": "\e9cf",
"brainy-puzzle": "\e9d0",
"brainy-question-mark": "\e9d1",
"brainy-quill": "\e9d2",
"brainy-radiation": "\e9d3",
"brainy-rapid-prototyping": "\e9d4",
"brainy-recycling": "\e9d5",
"brainy-robot-hand": "\e9d6",
"brainy-robot01": "\e9d7",
"brainy-robot02": "\e9d8",
"brainy-robot03": "\e9d9",
"brainy-robot04": "\e9da",
"brainy-rocket01": "\e9db",
"brainy-rocket02": "\e9dc",
"brainy-rover": "\e9dd",
"brainy-ruler-compasses": "\e9de",
"brainy-ruler-pencil": "\e9df",
"brainy-satellite": "\e9e0",
"brainy-scalpel": "\e9e1",
"brainy-school-2": "\e9e2",
"brainy-school-bag": "\e9e3",
"brainy-school-bus": "\e9e4",
"brainy-scientist01": "\e9e5",
"brainy-scientist02": "\e9e6",
"brainy-scientist03": "\e9e7",
"brainy-scientist04": "\e9e8",
"brainy-scientist05": "\e9e9",
"brainy-scientist06": "\e9ea",
"brainy-scientist07": "\e9eb",
"brainy-scientist08": "\e9ec",
"brainy-scissors": "\e9ed",
"brainy-screen01": "\e9ee",
"brainy-screen02": "\e9ef",
"brainy-screen03": "\e9f0",
"brainy-screen04": "\e9f1",
"brainy-scroll": "\e9f2",
"brainy-skill-share": "\e9f5",
"brainy-scull-bones": "\e9f3",
"brainy-scull": "\e9f4",
"brainy-smartphone01": "\e9f6",
"brainy-smartphone02": "\e9f7",
"brainy-smartphone03": "\e9f8",
"brainy-space-shuttle": "\e9f9",
"brainy-space-station": "\e9fa",
"brainy-spaceman01": "\e9fb",
"brainy-spaceman02": "\e9fc",
"brainy-speech-bubble": "\e9fd",
"brainy-star": "\e9fe",
"brainy-stop-watch": "\e9ff",
"brainy-student01": "\ea00",
"brainy-student02": "\ea01",
"brainy-sun": "\ea02",
"brainy-syringe": "\ea03",
"brainy-tablet01": "\ea04",
"brainy-tablet02": "\ea05",
"brainy-tablet03": "\ea06",
"brainy-tablet04": "\ea07",
"brainy-tablet05": "\ea08",
"brainy-tablet06": "\ea09",
"brainy-tech": "\ea0a",
"brainy-telescope01": "\ea0b",
"brainy-telescope02": "\ea0c",
"brainy-telescope03": "\ea0d",
"brainy-telescope04": "\ea0e",
"brainy-telescope05": "\ea0f",
"brainy-temperature": "\ea10",
"brainy-test-tube01": "\ea11",
"brainy-test-tube02": "\ea12",
"brainy-test-tube03": "\ea13",
"brainy-theatre": "\ea14",
"brainy-tools01": "\ea15",
"brainy-tools02": "\ea16",
"brainy-torch": "\ea17")