$navw: 13.5em
$console: rgb(0, 255, 0)

#st-loader
  overflow: hidden
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0

#stApp

  #stAppInner
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: $notwhite
    color: $notblack
    visibility: visible
    opacity: 1
    transition: all .25s ease-in-out

    &.loading
      visibility: hidden
      opacity: 0

body.dark-mode #st-app
  color: $notwhite
  a
    color: $notwhite

  #header-settings
    label
      color: $notwhite

  .info-input
    color: white

  #st-app-inner
   .st-video-remover
      background-color: $notblack
      color: $notwhite
      border: 1px solid $notwhite

   .grid-thumb
     border: 1px solid white

   .st-textarea::placeholder
     color: $notwhite

   #course-nav
     .st-subsection
       border: 1px solid $notwhite

  #video-wrapper
      background-color: $notblack !important

  button
    color: $notblack

body.matrix-mode #st-app
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace
  color: $console
  background-color: black

  .matrix-background
    padding-left: $navw/2
    top: 0
    bottom: 0
    border: none
    width: 100%
    height: 100%
    overflow-x: hidden
    overflow-y: hidden
    opacity: .25
    display: inline-block
    font-size: small
    position: absolute
    z-index: -100
    margin: 0
    display: block


  .switch label input[type=checkbox]:checked+.lever
    background-color: $console

  .switch label input[type=checkbox]:checked+.lever:after
    background-color: $console

  input:focus
    border-bottom: 1px solid $console
    -webkit-box-shadow: 0 1px 0 0 $console
    -moz-box-shadow: 0 1px 0 0 $console
    box-shadow: 0 1px 0 0 $console

  .btn
    background-color: $console
    color: black
  a
    color: $console

  header
    background-color: black
    color: $console

  #header-settings
    label
      background-color: black
      color: $console

  .info-input
    color: $console

  .st-link
    font-size: large
    color: $console

  #st-app-inner
    position: absolute
    z-index: 10

  #st-app-inner
   .btn
     color: black
   .st-video-remover
      background-color: black
      color: $console
      border: 1px solid $console

   .grid-thumb
     border: 1px solid $console

   .st-textarea::placeholder
     color: $console

   .download-inactive
      color: black
   .st-downloads
      background-color: black
      color: $console
   .download-link
     color: $console

  #video-wrapper
      background-color: black !important

  button
    color: black

#st-app
    overflow: hidden
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-size: cover
    background-position: center

    .basket
      position: absolute
      transition: opacity 100ms ease-in
      opacity: 1

    .basket-hide
      opacity: 0

    .st-courses
      padding-bottom: 1000px

    .switch label input[type=checkbox]:checked+.lever
      background-color: $azure

    .switch label input[type=checkbox]:checked+.lever:after
      background-color: $azure

    input:focus
      border-bottom: 1px solid $azure
      -webkit-box-shadow: 0 1px 0 0 $azure
      -moz-box-shadow: 0 1px 0 0 $azure
      box-shadow: 0 1px 0 0 $azure

    .btn
      background-color: $azure

    a
      color: $notblack
      &:focus, &:hover, &:visited, &:link, &:active
        text-decoration: none

    header
        height: $sidebarw
        padding: .75em 0 .75em 1em
        border-bottom: 1px solid $notblack

        #st-header-inner
          height: 100%
          font-size: $realEM

          &>div
            float: left

          #st-header-branding
            height: 100%

            img
              display: block
              height: 100%
              width: auto

          #st-header-view-title
            padding-left: 1em
            font-size: 1.5em
            font-weight: bold
            text-transform: uppercase

    #header-settings
      position: absolute
      top: 10px
      right: 50px
      .setting
        display: inline-block
        padding-left: 10px

        label
          color: $notblack

    #st-app-inner
      height: 100%
      max-height: 100%
      overflow: scroll
      padding: 2em
      padding-left: $sidebarw*2
      font-size: $realEM
      width: 100%
      align: center
      padding-bottom: 100px
      overflow-x: hidden


      #st-course
        overflow: hidden
        height: 100%

        #st-nav
          #st-sections
            float: right
            padding-left: 10px
            opacity: 2
            position: fixed
            max-width: $navw
            word-wrap: break-word
            left: $sidebarw*(3/2)
            top: $sidebarw*(3/2)
            padding-top: 2em
            height: 100%

            .link-highlight
              background-color: darkGrey

        #st-stage
          align: center
          padding-left: $navw

      .st-textarea
        margin-left: auto
        margin-right: auto
        display: block
        width: 400px
        height: 100px
        outline: none

      .st-textarea::placeholder
          color: $notblack

      #ratings-modal-wrapper
        height: 100%
        width: 100%

      .star-active
        color: #e8c825

      .star-active-lock
        color: #ed812e

      .st-video-icons
        float: right
        a
          padding-left: .75em

      .st-video-label
        width: 946

      .info-input
        width: 200px
        border: none
        padding-left: 10px
        font-size: large
        outline: none

      .download-inactive
        color: grey

      .st-modal
        color: $notwhite
        position: fixed
        opacity: 1
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.8)
        z-index: 999

        .st-downloads
          overflow: scroll
          display: inline-block
          background-color: white
          border-radius: 3px
          margin-top: 50px
          color: black
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          width: 50%
          height: 80%

          h3
            text-align: center

        .download-link
          color: black

        .st-search
          position: absolute
          text-align: center
          top: 50%
          left: 50%
          transform: translate(-50%, -100%)
          margin: auto
          width: 60%
          height: 20%
          z-index: 999

          .st-searchbox
            opacity: 1
            width: 50%
            height: 20%
            font-size: large

            &:focus, &:hover
              outline: none

          .search-exit
            float: right
            cursor: pointer

          .st-search-results
            overflow: auto
            list-style-type: none
            text-align: center
            max-height: 150%

            a
              color: $notwhite

            .st-result
              padding-top: 15px

          .search-result
            padding-top: 5%

      .video-in-grid
        position: relative
        width: 250px
        height: 250px
        display: inline-flex

        .grid-thumb
          position: absolute
          max-width: 100%
          border: 1px solid $notblack

        .st-video-remover
          background-color: $notwhite
          color: $notblack
          z-index: 500
          opacity: 1
          padding-left: 5px
          padding-top: 5px
          padding-right: 5px
          position: absolute
          border: 1px solid $notblack

        .grid-label
          position: absolute
          top: 150px

      .stage-center
        padding-left: 150px
        display: block
        margin-left: auto
        margin-right: auto

      #course-nav
        opacity: 100%
        width: 50%
        position: fixed
        bottom: 0
        right: 0
        top: $sidebarw*(1.5)
        overflow-x: hidden
        padding-top: 10px

        .st-subsection
          min-height: 100px
          border: 1px solid $notblack
          border-radius: 8px
          text-align: center

      .stage-left
        width: 45%
        height: 100%

      #video-wrapper
        opacity: 100%
        width: $videowidth
        position: fixed
        bottom: 0
        right: 0
        top: $sidebarw*(1.5)
        background-color: lightGrey
        overflow-x: hidden
        padding-top: 10px
        border-left: 1px solid black

      .st-video-card-highlight
        background-color: darkGrey

      .st-video-card, .st-video-card-highlight
        position: relative
        width: 16em
        cursor: pointer
        margin-left: 1em
        height: 6em
        display: inline-flex

        .st-video-card-thumb
          height: 75%
          vertical-align: middle

        .st-video-card-title, .st-video-card-timestamp
          max-width: 50%
          float: right
          margin: 0px
          padding: 0px
          font-size: small

        .st-video-card-timestamp
          font-style: italic

        &:hover > div > .st-video-remover
          opacity: 1

        &>div
          width: 100%

          a.st-video-remover
            position: absolute
            display: block
            z-index: 999
            font-size: $blockEM
            color: $notwhite
            width: 1em
            height: 1em
            top: 0
            right: 0
            opacity: 0
            -webkit-transition: opacity .25s ease-in-out
            -moz-transition: opacity .25s ease-in-out
            -o-transition: opacity .25s ease-in-out
            transition: opacity .25s ease-in-out

            img
              width: 100%
              height: auto
              border-radius: 4px

        span.st-video-card-title
          display: block
          width: 100%
          text-align: center
          padding: .25em
