st-app
    display: block
    position: relative
    box-sizing: border-box
    width: 100%
    height: 100%
    visibility: visible
    opacity: 1
    transition: all .1s ease-in-out

    &.loading
        +loading

    #stAppInner
        display: grid
        width: 100%

        #stAppStage
            width: 40%
            margin: 0 auto

            #stAppVidBlock
                position: relative
                background-color: azure()
                width: 100%
                height: 0
                padding: 28.125% 0
                border-radius: 1em

@import './header/**/*.sass'
@import './sidebar/**/*.sass'
@import './components/**/*.sass'