st-app
    display: flex
    flex-direction: column
    box-sizing: border-box
    background-color: offwhite()
    width: 100%
    height: 100%
    visibility: visible
    opacity: 1
    transition: all .1s ease-in-out

    &.loading
        +loading

    .stComponentFade
        +animFadeIn

@import './header/**/*.sass'
@import './sidebar/**/*.sass'
@import './components/**/*.sass'