#stApp
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    visibility: visible
    opacity: 1
    transition: all .1s ease-in-out

    &.loading
        +loading

@import './header/**/*.sass'
@import './sidebar/**/*.sass'
@import './components/**/*.sass'