#stApp
    background-color: offwhite()

    #stStripped
        position: relative
        top: 2%
        +centerblock

        #stStrippedInset
            padding: 1em

            #stStrippedSpacer
                background-color: white()
                border-radius: 1em
                overflow: hidden
