#stAppHeader
    height: 3em
    background-color: white

    div.col
        height: 100%

        img
            height: 100%
            width: auto

    #stHeaderMiddle
        padding: .5em 1em
        text-align: center

body.login, body.allYourBase, body.muSignup

    #stAppHeader
        display: none