body.login, body.allYourBase, body.muSignup

    .stAppHeader
        display: none
    
.stAppHeader
    display: flex
    flex-wrap: wrap
    background-color: white
    padding: 0 1em

    & > div
        padding: $tiny
        display: flex
        align-items: center

        img
            height: calc(#{$headerh} - 1em)
            width: auto

    .stHeaderLeft

    .stHeaderMiddle
        flex: 1

        h1
            padding-left: 1em
            font-size: 1em
            +animFadeIn

    .stHeaderRight

        .stNavContainer
            display: flex
            height: 100%
            margin: 0

            & > li
                padding-left: 1.25em
                height: 100%
                flex: 0 1 auto
                display: flex
                justify-content: center
                align-items: center

                svg
                    height: $small
                    width: $small
                    cursor: pointer
                    opacity: .6
                    transition: opacity 100ms ease-in-out

                    &:hover
                        opacity: 1

+MQ($mq-tablet)

+MQ($mq-tportrait)
    .stAppHeader

        .stHeaderLeft

        .stHeaderMiddle
            justify-content: center

            h1
                padding-left: 0

+MQ($mq-mobile)
    .stAppHeader

        .stHeaderLeft

        .stHeaderMiddle
            order: 1
    