.stAppHeader
    display: flex
    flex-direction: row
    height: $headerh
    background-color: white
    padding: 0 2em

    h1
        font-size: 1em

    & > div
        height: 100%
        flex: 1 1 100%
        display: flex
        align-items: center

        img
            height: calc($headerh - 6px)
            width: auto

    .stHeaderLeft
        justify-content: flex-start

    .stHeaderMiddle
        justify-content: center

    .stHeaderRight
        justify-content: flex-end

        .stNavContainer
            display: flex
            height: 100%
            margin: 0

            & > li
                padding-left: 1.5em
                height: 100%
                flex: 0 1 auto
                display: flex
                justify-content: center
                align-items: center

                svg
                    cursor: pointer
                    opacity: .6
                    transition: opacity 100ms ease-in-out

                    &:hover
                        opacity: 1

body.login, body.allYourBase, body.muSignup

    .stAppHeader
        display: none