@mixin animFadeIn
	-webkit-animation: 250ms ease 0s normal forwards 1 fadein
	animation: 250ms ease 0s normal forwards 1 fadein

@mixin growVert
	-webkit-animation: 350ms ease 0s normal forwards 1 growvert
	animation: 350ms ease 0s normal forwards 1 growvert