.input-field
    position: relative

@mixin stFormBody
    padding: 0 1.5rem

@mixin stFormErrors
    color: red
    font-weight: 600
    font-size: $small
    text-align: center
    padding: 0 $large $large

    a
        text-decoration: underline

@mixin stFormHeader
    padding-bottom: 1em
    line-height: $small

@mixin stFormButtons
    text-align: center
    padding: 0 1.5rem 1rem

@mixin stFormButton
    background-color: azure()

    &[disabled]
        background-color: gray
        cursor: not-allowed

    span
        font-size: $smalltext

@mixin stFormInput
    margin-bottom: 1em

    &:not(.no-bg)
        position: relative
        background-color: aecolor(#fff,.65)
        overflow: hidden
        border-radius: 3px

        & > label.floating
            font-size: $bodytext
            padding: 1em
            position: absolute
            display: block
            top: .25rem
            left: 0
            transition: all .1s ease-in-out

        input:not([type="checkbox"]), textarea
            display: block
            position: relative
            box-sizing: border-box
            overflow: hidden
            border-radius: 3px
            border: 1px solid black(.1)
            z-index: 1
            background-color: transparent
            transition: all .25s ease-in-out

            &:focus, &:valid
                border: 1px solid black(.5)

                & + label.floating
                    top: 0
                    font-size: $bodytext