#st-sidebar
    position: fixed
    overflow: hidden
    width: $sidebarw
    height: 100%
    z-index: 999
    background-color: $notblack
    color: rgba(255,255,255,.85)

    a, a:hover, a:active, a:visited
        color: inherit
        text-decoration: none

    a.st-app-link
        display: block
        cursor: pointer
        width: 100%
        padding: .5em 1em
        opacity: .5
        -webkit-transition: opacity .25s ease-in-out
        -moz-transition: opacity .25s ease-in-out
        -o-transition: opacity .25s ease-in-out
        transition: opacity .25s ease-in-out

        &:not(.st-divider):hover
            opacity: .85

        &.st-divider
            cursor: default
            padding-top: 0px
            padding-bottom: 0px

        &.logout
            position: absolute
            bottom: 0
            left: 0
            right: 0