.stCheckoutWindow
    display: grid
    grid-template-columns: 20% 1fr
    grid-template-rows: 1fr
    flex: 1

    .stepSide
        padding: 1em
        color: white
        background-color: azure()