.stDashboard
    padding: $huge
    +centerblock

    .stDashboardCourses
        border-radius: $tiny
        @extend .z-depth-3

        .myCoursesHeader
            padding: 1em
            font-weight: 600
            line-height: 1
            border-bottom: 1px solid black(.15)
        
        .myCoursesBody
            padding: 1em