.stDashboard
    padding: 0 0 $huge
    font-size: $medtext

    .stHomeBanner
        margin-bottom: -10%

        img
            width: 100%

    .stDashboardCourses
        display: flex
        justify-content: center
        
        .stCoursesBody
            padding: 1em
            width: 100%
            max-width: 800px
            display: flex
            align-items: center

            .course
                width: 49%

                &:not(:first-child)
                    margin-left: 2%

                & > a
                    display: block
                    overflow: hidden
                    border-radius: $tiny
                    background-color: white()
                    transition: all 100ms ease-in-out
                    +z-depth-1

                    &:hover
                        +z-depth-3

                    .heroImg
                        position: relative
                        padding-top: 56.25%

                        img
                            position: absolute
                            top: 0
                            bottom: 0
                            right: 0
                            left: 0
                            display: block
                    
                    .title
                        padding: 1em
                        font-weight: 600
                        line-height: 1

    .stNotesActions
        width: 100%
        display: flex
        justify-content: center
        margin: 0 0 1em

        .stDashboardNotifications
            padding: 0 1em
            flex: 1
            width: 100%
            max-width: 800px

            & > section
                height: 100%
                background-color: white
                +z-depth-2

            .stNotificationsBody
                padding: 1em

                .noNotes
                    font-style: italic

                .stNotes
                    width: 100%

                    .stNotification
                        font-size: $small
                        background: white()
                        display: flex
                        align-items: center

                        & > div
                            padding: 1em

                            span
                                cursor: pointer

                        .stNoteDate
                            font-weight: 600

                        .stNoteTitle
                            flex: 1
                            font-style: italic

        .stDashboardActions
            margin: 0 1em
            flex: 1

            & > section
                background-color: white
                +z-depth-2
            
            .stDBActionsBody
                padding: 1em

                span
                    font-style: italic
                
                button
                    background-color: azure()