.stDashboard
    padding: $huge
    +centerblock

    & > div
        margin-bottom: 1em
        border-radius: $ittybitty
        @extend .z-depth-3

        .heading
            padding: 1em
            font-weight: 600
            line-height: 1
            border-bottom: 1px solid black(.15)

    .stDashboardCourses
        
        .myCoursesBody
            padding: 1em
            display: flex
            align-items: center

            .course
                padding: $tiny
                width: $huge * 6

                & > a
                    display: block
                    overflow: hidden
                    border-radius: $ittybitty
                    @extend .z-depth-1

                    &:hover
                        @extend .z-depth-3

                    img
                        width: 100%
                        height: auto
                        display: block
                    
                    .title
                        padding: $tiny
                        font-weight: 600
                        line-height: 1

                        span
                            font-size: $small

    .stDashboardStats
        padding: $huge

    .stDashboardNotifications

        .stNotificationsBody

            .stNotes
                width: 100%

                .stNotification
                    font-size: $small
                    background: white()
                    display: flex
                    align-items: center

                    .stNoteDate
                        font-weight: 600

                    .stNoteTitle
                        flex: 1
                        font-style: italic

    .stDashboardActions
        
        .stDBActionsBody
            padding: 1em

            span
                font-style: italic
            
            button
                background-color: azure()