.stFormErrors
    color: red
    font-weight: 600
    font-size: $small
    text-align: center
    padding: 0 $large $large

    a
        text-decoration: underline

.stFormWrapper
    font-size: $bodytext

    fieldset
        padding-top: 1em !important
        border-radius: $tiny

        legend
            line-height: 1
            padding: 0 $tiny

    .input-field
        margin: 0
        position: relative

        &.stInputHalfLeft
            padding-right: $tiny

        &.stInputHalfRight
            padding-left: $tiny

    input:not([type='submit']), select, #stPricingCardElement
        padding: $tiny $small
        margin-bottom: 1em
        width: 100%
        border: 0
        border-bottom: 1px solid black(.25)
        transition: all .1s linear

        &.invalid
            border-bottom: 1px solid red
        
        &.valid
            border-bottom: 1px solid green

        &:focus:not(.invalid)
            border-bottom: 1px solid azure()

        &::placeholder
            opacity: 1
            color: black(.25)
            font-style: italic

    select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none

        &.selector, option:selected
            color: black(.6)

    .input-field.required:before, .input-field.required [type="checkbox"]:required+label:after
        color: red
        display: block
        height: 0
        position: absolute
        top: 20%
        right: 1em
        content: "*"

        &.stInputHalfLeft
            right: 1.5em

    .stFormHeader
        line-height: $small

    .stFormBody
        padding: $huge $huge*1.5 0

    .stFormButtons
        text-align: center

        .stFormButton
            background-color: azure()

            &[disabled]
                background-color: gray
                cursor: not-allowed
        
    span
        font-size: $small
        font-style: italic

        a
            text-decoration: underline
            cursor: pointer
            color: inherit

    label

        strong
            font-weight: 600

footer

    img
        display: block
        width: 100%
        height: auto
