$domcolor: azure()

body.login

    st-app
        background-color: offwhite()

        #stStripped

            #stStrippedInset

                #stStrippedSpacer

                    #stLoginWrapper
                        padding: 0

                        h1, h2
                            color: $domcolor

                        .stFormButtons

                            .stFormButton
                                background-color: $domcolor
