$domcolor: azure()

body.login

    st-app
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

        .stDialogCentered
            max-width: 400px
            text-align: left

            header

                img
                    width: 100%
                    height: auto

            .stDialogCenteredInset

                #stLoginWrapper
                    padding: 0

                    #stLoginHeader

                        h1, h2
                            font-weight: 600

                    .stLoginCredentials
                        padding-bottom: 1em

                    .stFormButtons
                        display: flex
                        align-items: center

                        .stFormButton
                            flex: 1
                            background-color: $domcolor
                            display: block
                            width: 100%
                        
                        .stForgotBlock
                            flex: 1
