$domcolor: azure()

body.login

    st-app
        background-color: offwhite()

        #stStripped

            #stStrippedInset

                .stFormWrapper

                    h1, h2
                        color: $domcolor

                    button
                        background-color: $domcolor
