body.main

    st-app
        background-color: whitesmoke

        .stAppStage
            width: 100%
            height: calc(100% - #{$headerh})
            overflow-y: auto
            -webkit-overflow-scrolling: touch

            .stAppStageInner
                line-height: 120%
                +centerblock

                & > img
                    width: 100%
                    height: auto

                & > div
                    width: 100%
                    margin-top: 1em

                .stCourseTop
                    display: flex
                    flex-wrap: wrap

                    .stCourseSidebar
                        flex: 1
                        margin-left: 1em
                        display: flex
                        flex-flow: column nowrap

                        .stCourseResources, .stCourseMSL
                            font-size: $small
                            background-color: white()
                            border-radius: $ittybitty
                            overflow: hidden
                            +z-depth-3

                        .stCourseResources
                            padding: 1em
                            font-weight: 600
                            line-height: 1
                            margin-bottom: 1em

                            a
                                white-space: nowrap
                                color: azure(.8)
                                transition: all 100ms ease-in-out
                                display: flex
                                align-items: center

                                &:hover
                                    color: azure()

                                & > span
                                    margin-left: .5em

                        .stCourseMSL
                            height: 100%
                            display: flex
                            flex-flow: column nowrap
                        
                            .stCourseStudyListHeading
                                padding: 1em
                                font-weight: 600
                                line-height: 1
                                border-bottom: 1px solid black(.15)

                            .stCourseStudyList
                                overflow-y: auto
                                flex: 1
                                width: 100%
                                position: relative

                                .stCourseStudyListInner
                                    position: absolute
                                    width: 100%

                                    .stCourseStudyListItem
                                        width: 100%
                                        height: 3em
                                        opacity: 1
                                        cursor: pointer
                                        display: flex
                                        transition: opacity .1s ease-in-out
                                        transition: height .1s ease-in-out

                                        &:hover

                                            .listRemoveItem
                                                visibility: visible
                                                opacity: 1

                                        &.highlight
                                            background-color: black(.05)
                                            font-weight: 600

                                        &.remove
                                            opacity: 0
                                            height: 0px

                                        img
                                            height: 100%
                                            width: auto

                                        .listItemTitle
                                            font-size: $small
                                            line-height: 1em
                                            height: 100%
                                            padding: 0 1em
                                            flex: 1
                                            display: flex
                                            align-items: center

                                        .listRemoveItem
                                            line-height: 1
                                            font-weight: 600
                                            padding: 1em
                                            visibility: hidden
                                            opacity: 0
                                            transition: opacity .1s ease-in-out

                            .stCourseStudyListFooter
                                padding: 1em
                                line-height: 1
                                border-top: 1px solid black(.15)
                                display: flex
                                align-items: center

                    .stCourseIntro
                        flex: 3

                        .stVimWrap
                            position: relative
                            padding-top: 56.25%
                            border-radius: $ittybitty
                            overflow: hidden
                            +z-depth-3

                            &:hover

                                .stVimTitle
                                    opacity: 1

                            iframe, .stVimTitle
                                position: absolute
                                top: 0
                            
                            .stVimTitle
                                left: 1em
                                line-height: 2
                                opacity: 0
                                font-weight: 600
                                color: white()
                                text-shadow: 0px 0px 10px black(.5)
                                transition: opacity 250ms ease-in-out
                            
                            iframe
                                height: 100%
                                width: 100%

                .stSectionsSection
                    display: flex

                    .stSectionBoxWrap
                        flex: 1 1 20%

                        &:not(:last-of-type)
                            margin-right: 1em

                        .stSectionBox
                            width: 100%
                            height: 100%

                            .stSectionBoxInner
                                border-radius: $ittybitty
                                cursor: pointer
                                position: relative
                                background-color: white()
                                width: 100%
                                height: 100%
                                opacity: .85
                                +z-depth-2
                                transition: all 100ms ease-in-out

                                &:hover
                                    +z-depth-3
                                    opacity: 1

                                .stSectionBoxContainer
                                    width: 100%

                                    & > div
                                        text-align: center

                                    .boxHeader
                                        font-size: $tiny
                                        padding-top: 1em
                                        color: white(.8)

                                    .boxText
                                        padding: 1em

                                        .boxIcon

                                            i
                                                font-size: $medium

                                        .boxTitle
                                            font-weight: 600

                                        .boxDesc
                                            font-weight: 200
                                            font-size: $small
                                            font-style: italic
                                            line-height: 1

                .stPracticeSection
                    margin-bottom: 1em

                    & > div
                        display: flex
                        flex-wrap: wrap
                        border-radius: $ittybitty
                        border: 1px solid black(.25)
                        position: relative
                        background-color: white()
                        overflow: hidden
                        +z-depth-3

                    .boxHeader
                        width: 100%
                        font-size: $tiny
                        padding-top: 1em
                        background-color: black(.25)

                    .stPracticeSectionInner
                        padding: 1em
                        width: 100%

                        .stPracticeTop
                            display: flex
                            align-items: center
                            justify-content: space-between

                            & > div
                                display: flex
                                align-items: center

                                &:last-of-type
                                    cursor: pointer
                            
                                .boxIco
                                    padding-right: 1em

                                .boxTitle
                                    font-weight: 600

                                .stPracticeNote, .boxPracTest
                                    font-size: $small
                                    padding-left: 1em
                                    font-style: italic

                        .stPracticeBody
                            display: flex
                            flex-flow: row wrap

                            & > section
                                flex: 1 1 auto
                                padding: 1em

                                .stPracticeBookName
                                    font-size: $small
                                    font-weight: 600
                                
                                .stPracticeTests
                                    font-size: $small

                                    .stPracticeTest
                                        cursor: pointer

                                        &.inactive
                                            cursor: auto
                                            font-style: italic
                                            text-decoration: line-through

                img
                    display: block

+MQ($mq-tablet)
    body.main

        st-app

            .stAppHeader
                padding: 0 $tiny

            .stAppStage

                .stAppStageInner
                    padding: 0 1em

                    .stCourseTop

                        .stCourseActions

                            .stActionTxt
                                display: none

+MQ($mq-tportrait)
    body.main

        st-app

            .stAppStage

                .stAppStageInner
                    padding: 0

                    .stCourseTop
                        margin-top: 0
                        padding-top: 0

                        & > div
                            flex: 1 1 100% !important

                        .stCourseActions
                            padding: 1em
                        
                        .stCourseSidebar
                            margin-left: unset

                        .stCourseIntro

                            .stVimWrap
                                border-radius: unset
                        
                        .stCourseMSL
                            display: block
                            margin: 1em 1em 0

                            .stCourseStudyList

                                .stCourseStudyListInner
                                    position: relative

                    .stSectionsSection
                        display: grid
                        grid-gap: 1em
                        padding: 0 1em

                        .stSectionBoxWrap
                            
                            &:not(:last-of-type)
                                margin-right: 0

                    .stPracticeSection
                        padding: 1em

+MQ($mq-mobile)
    body.main

        st-app

            .stAppStage

                .stAppStageInner

                    .stSectionsSection

                        .stSectionBoxWrap

                            &:nth-of-type(odd):not(:last-of-type)
                                padding-right: 0