body.main

    st-app

        .stAppStage
            width: 100%
            height: calc(100% - #{$headerh})
            overflow-y: auto
            -webkit-overflow-scrolling: touch

            .stAppStageInner
                +centerblock

                & > img
                    width: 100%
                    height: auto

                & > div
                    display: flex
                    flex-wrap: wrap
                    width: 100%
                    padding-top: 1em

                .stCourseTop

                    .stCourseActions
                        flex: 1
                        display: flex
                        flex-flow: column wrap
                        padding-left: 1em

                        .stCourseSearch
                            background-color: white
                            border: 1px solid black(.25)
                            padding: $ittybitty

                        .stCourseBar
                            flex: 1
                            background-color: white()
                            border-radius: $ittybitty
                            margin-top: 1em
                            @extend .z-depth-3

                        & > div
                            display: flex
                            align-items: center
                            font-size: $small

                            .stActionTxt
                                padding-left: 1em

                    .stCourseIntro
                        flex: 3

                        .stVimWrap
                            position: relative
                            padding-top: 56.25%
                            border-radius: $ittybitty
                            overflow: hidden
                            @extend .z-depth-3

                            iframe, .stVimTitle
                                position: absolute
                                top: 0
                            
                            iframe
                                height: 100%
                                width: 100%

                .stSectionsSection
                    justify-content: center

                    .stSectionBoxWrap
                        flex: 1
                        padding-bottom: 1em

                        &:not(:last-of-type)
                            margin-right: 1em

                        .stSectionBox
                            width: 100%
                            height: 100%

                            .stSectionBoxInner
                                border-radius: $ittybitty
                                cursor: pointer
                                position: relative
                                background-color: white()
                                width: 100%
                                height: 100%
                                opacity: .85
                                @extend .z-depth-2
                                transition: all 100ms ease-in-out

                                &:hover
                                    @extend .z-depth-3
                                    opacity: 1

                                .stSectionBoxContainer
                                    width: 100%

                                    & > div
                                        text-align: center

                                    .boxHeader
                                        font-size: $tiny
                                        padding-top: 1em
                                        color: white(.8)

                                    .boxText
                                        padding: 1em

                                        .boxIcon

                                            i
                                                font-size: $huge

                                        .boxTitle
                                            font-weight: 600

                                        .boxDesc
                                            font-weight: 200
                                            font-size: $small
                                            font-style: italic
                                            line-height: 1

                .stPracticeSection
                    display: flex
                    width: 100%
                    border-radius: $ittybitty
                    position: relative
                    background-color: white()
                    width: 100%
                    @extend .z-depth-2

+MQ($mq-tablet)
    body.main

        st-app

            .stAppHeader
                padding: 0 $tiny

            .stAppStage

                .stAppStageInner
                    padding: 0 1em

                    .stCourseTop

                        .stCourseActions

                            .stActionTxt
                                display: none

+MQ($mq-tportrait)
    body.main

        st-app

            .stAppHeader
                flex-wrap: wrap
                height: $headerh * 2

                & > div
                    flex: 1 50%
                    height: 50%

                .stHeaderMiddle
                    order: 1

            .stAppStage

                .stAppStageInner
                    padding: 0

                    .stCourseTop
                        padding-top: 0

                        & > div
                            flex: 1 1 100% !important

                        .stCourseActions
                            padding: 1em

                        .stCourseIntro

                            .stVimWrap
                                border-radius: unset

                    .stSectionsSection
                        padding: 0 1em

                        .stSectionBoxWrap
                            flex-basis: 50%
                            
                            &:not(:last-of-type)
                                margin-right: 0

                            &:nth-of-type(odd):not(:last-of-type)
                                padding-right: 1em

+MQ($mq-mobile)
    body.main

        st-app

            .stAppHeader

                & > div

                    &:not(:nth-of-type(even))
                        padding: 0
                
                .stHeaderRight

                    .stNavContainer

                        & > li
                            padding-left: 1em

            .stAppStage

                .stAppStageInner

                    .stSectionsSection

                        .stSectionBoxWrap
                            flex-basis: 100%

                            &:nth-of-type(odd):not(:last-of-type)
                                padding-right: 0