body.onboarding
	overflow: auto
	background-color: white()

	st-app
		background-color: white()

		.stOnboardingWindow
			height: 100%
			min-height: calc(100% - #{$headerh})
			+animFadeIn

			.step
				height: 100%
				display: flex
				justify-content: center
				align-items: center

			#step2

				.shippingForm
					padding: 0 !important
					margin-top: 1em
					+stFormBody

					.stIfR99
						display: inline-block
						+stFormInput

						&:not(.no-bg)
							background-color: white()
							
							& > label
								font-size: 1rem

							input:not([type="checkbox"]), textarea
								border: 1px solid azure(.5)

						&.oneq
							max-width: 24%

						&.onet
							max-width: 32%

						&.twoq
							max-width: 49%

						&.twot
							max-width: 64%

						&.threeq
							max-width: 74%

						&.right
							margin-left: 2%

						input
							background-color: white()

				label
					display: block
					margin-bottom: 1em

				select
					border: 1px solid azure(.5)
					border-radius: $ittybitty
					cursor: pointer
					padding: 1em
			
			#step1

				strong
					text-transform: uppercase
					font-weight: 800
			
			#step0
				display: block

				.stStepContent

					& > div
						margin-top: 5%

				.stOnboardBanner
					height: 300px

					img
						opacity: .75
						height: auto
						width: 100%
						transform: rotateZ(0deg)

			.stStepContent
				position: relative
				display: flex
				justify-content: center
				align-items: center

				& > div
					width: 95%
					max-width: 800px
					margin-top: -50%

				h3
					text-align: center

				.stOnboardingPlans, .stOnboardingOptions
					display: flex
					flex-wrap: wrap

					.ctaColumn
						flex: 1 1 100%
						display: flex
						justify-content: center
						padding: 1em

						span
							margin-right: 1em

					.stOnboardingPlan, .stOnboardingOption
						position: relative
						flex: 1 1 auto
						border-radius: $ittybitty
						width: 225px
						padding: 1em
						text-align: center

						.planInner, .optionInner
							width: 100%
							max-width: 400px
							border: 1px solid azure(.8)
							color: azure(.8)
							background-color: white()
							transition: all 100ms ease-in-out
							
							&:hover, &.active
								color: white()
								background-color: azure()

							span
								font-size: .75rem
								font-weight: 600
								display: block
								text-align: center
								text-transform: uppercase

							&.combo
								border: 1px solid rgba(255, 0, 0, .8)
								color: rgba(255, 0, 0, .8)
								background-color: white()

								&:hover, &.active
									color: white()
									background-color: rgba(255, 0, 0, 1)