body.onboarding

	st-app

		.stOnboardingWindow
			height: 100%
			min-height: calc(100% - #{$headerh})

			.step
				height: 100%
				display: flex
				justify-content: center
				align-items: center
			
			#step1
				display: block

				.stOnboardBanner
					height: 350px
					margin-bottom: -200px

					img
						opacity: .25
						height: 100%
						width: 100%
						transform: rotateZ(180deg)

				.stStepContent
					position: relative
					display: flex
					justify-content: center
					align-items: center

					& > div
						width: 98%
						max-width: 800px

					.stOnboardingPlans
						display: grid
						grid-template-columns: repeat(3,max-content)
						grid-gap: 5px

						.stOnboardingPlan
							+stcard