body.onboarding

	st-app

		.stOnboardingWindow
			height: 100%
			min-height: calc(100% - #{$headerh})
			+animFadeIn

			.step
				height: 100%
				display: flex
				justify-content: center
				align-items: center
			
			#step1
				display: block

				.stOnboardBanner
					height: 350px
					margin-bottom: -200px

					img
						opacity: .25
						height: 100%
						width: 100%
						transform: rotateZ(180deg)

				.stStepContent
					position: relative
					display: flex
					justify-content: center
					align-items: center

					& > div
						width: 98%
						max-width: 700px

					h3
						text-align: center

					.stOnboardingPlans
						display: flex
						flex-wrap: wrap
						margin-top: $huge

						.bothColumn
							flex: 1 1 100%
							display: flex
							justify-content: center
							padding: 1em

							button
								background-color: red
								width: 40%

						.stChoiceGap
							padding: 1em
							display: flex
							justify-content: center
							align-items: center

						.stOnboardingPlan
							position: relative
							flex: 1
							border-radius: $ittybitty
							min-width: 300px
							background-color: white
							cursor: pointer
							padding-top: 30%
							+z-depth-1
							transition: all 100ms ease-in-out

							&:hover
								+z-depth-3

							.planInner
								position: absolute
								top: 0
								bottom: 0
								width: 100%
								display: flex
								justify-content: center
								align-items: center
								flex-flow: column nowrap
								padding: 1em

								h2
									font-size: 1rem
									font-weight: 600
									display: block
									margin-bottom: .5em
									text-align: center
									text-transform: uppercase

								&.sat

									i
										color: azure()

								&.act

									i
										color: goldenrod()