@keyframes fadein
    0%
        opacity: 0
    66%
        opacity: 0
    100%
        opacity: 1

@-webkit-keyframes fadein
    0%
        opacity: 0
    66%
        opacity: 0
    100%
        opacity: 1
    
body.signup

    & > st-app
        background-color: offwhite()

        header
            font-size: $bodytext

        .stSignupStep
            text-align: center
            -webkit-animation: 500ms ease 0s normal forwards 1 fadein
            animation: 500ms ease 0s normal forwards 1 fadein
            +centerblock

            & > span
                font-size: $small

            .stSignupInner
                margin-top: 2em
                margin-bottom: 4em

            #stPlansContainer
                font-size: $bodytext
                min-height: $huge * 8
                padding: 0 1em

                .stPlan
                    padding: 0 1em
                    position: relative

                    &.first
                        top: $huge

                    &.last
                        top: -$huge

                    .stPlanInner
                        background-color: white()
                        padding: 12%
                        border-radius: $tiny
                        border: 1px solid black(.1)
                        cursor: pointer
                        color: inherit
                        display: block
                        transition: all 250ms ease-in-out

                        &:hover
                            border: 1px solid azure()
                            @extend .z-depth-5

                        .stPlanTest

                            & > span
                                display: block

                            .test
                                font-size: $large
                                font-weight: 600

                            .name
                                font-size: $small
                                font-style: italic
                        
                        .stPlanPrice
                            color: azure()
                            font-size: $huge * 1.5
                            font-weight: 600
                            padding: $ittybitty 0

                        .stPlanItems
                            font-size: $small

                            strong
                                font-weight: 600

            #stAccountForm
                padding: $huge $huge 0
                border-radius: $tiny

        #stSignupPayment
            text-align: left
            padding: 0 1em
            
            .stInfoWrap
                margin: $huge 0 $huge * 1.5

                #stSignupPricingTable
                    background-color: white()
                    padding: $huge
                    border-radius: $tiny
                    border: 1px solid black(.25)
                    transition: all 250ms ease-in-out

                #stSignupPaymentForm
                    padding-left: 2em

            #stSignupPaymentBottom
                text-align: center