body.signup

    & > st-app
        +flexvert
        
        .stSignupAccount
            +flexvert
            flex: 1 0 auto
            order: 1
            width: 100%
            padding-bottom: $huge
            overflow: auto
            +animFadeIn

            .stSignupInner
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: center
                flex: 1

                .stAccountForm
                    font-size: $bodytext
                    +stcard

                    .heading
                        padding: 1rem 2rem
                        font-weight: 600
                        line-height: 1.5

                        h1
                            text-indent: 110%
                            overflow: hidden
                            background-image: url("/assets/img/sttv_logo.png")
                            background-position: center
                            background-size: contain
                            background-repeat: no-repeat

                    .stC2A
                        padding: 0 2rem
                        margin-bottom: 1rem
                        text-align: center
                        font-weight: 600
                        color: black(.5)
                        transform: scale3d(1.1,1,1)

                    .stAccountBody
                        +stFormBody

                        & > div
                            +stFormInput

                    .stAccountButtons
                        +stFormButtons

                        .stAccountButton
                            width: 100%
                            +stFormButton

                .insteadLogin
                    text-align: center
                    padding: 1rem
                    font-size: $bodytext
                    font-weight: 600
                    color: black(.5)
                    +stcard

                    a
                        color: azure(.75)
                        
                        &:hover
                            color: azure()

        footer
            font-size: $smalltext
            min-height: 5rem
            order: 2
            padding: 1rem 0

            & > div
                text-transform: uppercase
                font-weight: 800
                background-color: whitesmoke