.stDialogCentered
    display: flex
    text-align: center
    flex-direction: column
    justify-content: center
    height: 100%
    +animFadeIn

    header
        flex-shrink: 0
        margin-bottom: 1em

        img
            width: 10em

    .stDialogCenteredInset
        flex-shrink: 0
        width: 500px
        background-color: white()
        margin: 0 auto
        border-radius: $tiny

        h1
            font-weight: 400
            font-size: $large
            line-height: 1
            padding: $large 0