.stDialogCentered
    text-align: center
    border-radius: $tiny
    padding: 1em
    +animFadeIn

    header

        img
            height: 3em
            width: auto

    .stDialogCenteredInset
        max-width: 400px
        width: 98%
        background-color: white()

        h1
            font-weight: 400
            font-size: $large
            text-transform: none
            line-height: 1
            padding: $large 0