.stModal
    background-color: whitesmoke(.75)
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: flex-start
    padding: 4%
    +animFadeIn

    &.checkout

        .stModalInner
            display: flex
            min-height: 20em
            overflow: hidden
            +stcardwide

    &.centered:not(.checkout)
        padding: 5%

        .stModalInner
            width: 100%
            height: 100%
            border-radius: $tiny
            border: $tiny solid transparent

    &.bottom
        padding-top: 10%

        .stModalInner
            width: 100%
            height: 100%
            +shadow-top
            +growVert

    &.top
        padding-top: 55%

    .stModalInner
        background-color: white()
        +z-depth-3

        figure
            margin-bottom: 1em

        .stModalDownloads
            height: 100%

            .stDownloadLinks
                font-size: $small
                height: 100%
                width: 100%
                overflow: auto
                padding: 1em 0

                .stDownloadLink
                    float: left
                    cursor: pointer
                    width: 25%
                    height: 5em
                    padding: 0 $large

                    &.dld
                        background-color: rgba(green,.05)

                    &.disabled
                        cursor: not-allowed

                    &:not(.disabled):hover, &:not(.dld):hover

                        .inner
                            background-color: black(.025)
                            +z-depth-3

                    .inner
                        width: 100%
                        height: 100%
                        display: flex
                        align-items: center
                        +z-depth-2
                        transition: all .1s ease-in-out

                        img
                            height: 100%
                            width: auto

                        figcaption
                            padding-left: 1em

                            & > span
                                display: block

                            .stDownloadName
                                display: flex
                                justify-content: space-between

                            .stDownloadSize
                                font-size: $small
                                font-style: italic

                            .dld
                                color: green
                                padding-left: 1em

st-overlay
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: black(.65)
    animation: fadein 100ms ease-in-out 0s both

    & > div
        width: 25%
        background-color: white()
        border-radius: $ittybitty
        overflow: hidden
        padding: 2em
        animation: popIn 100ms ease-in-out 0s both
        transition: height 250ms ease-in-out, transform 100ms cubic-bezier(0.175, 0.885, 0.32, 1.1)
        +z-depth-4

        svg.loader
            display: block

            &.stRings

                g.ringGroup

                    path
                        animation: fadeInOut 1000ms ease-in-out both infinite

                        &:nth-child(1)
                            animation-delay: 0ms

                        &:nth-child(2)
                            animation-delay: 200ms

                        &:nth-child(3)
                            animation-delay: 400ms

                        &:nth-child(4)
                            animation-delay: 600ms

                        &:nth-child(5)
                            animation-delay: 800ms


+MQ($mq-mobile)
    .stModal
        padding: 1em

        &.checkout

            .stModalInner
                height: 100%
                width: 100%