.stModal
    position: absolute
    width: 100%
    height: 100%
    background-color: black(.75)

    &.centered
        padding: 5%
        +animFadeIn

    &.bottom
        padding-top: 15%
        +growVert

    .stModalInner
        background-color: white()
        width: 100%
        height: 100%