#stStripped
    max-width: $bodyw - 200
    width: 100%
    +centerpos

    #stStrippedInset
        padding: $large

        #stStrippedSpacer
            border-radius: 1em
            margin: 0
            overflow: hidden

            header
                position: relative
                font-weight: 700
                height: 3em
                text-transform: uppercase
                color: white(.85)

                & > div.col
                    text-align: center
                    height: 100%

                    img
                        height: 100%
                        width: auto
                        display: inline-block

#stFormErrors
    color: red
    font-size: $small
    padding: 0 $large $large
    text-align: center

    a
        text-decoration: underline

.stFormWrapper
    font-size: $bodytext
    min-height: $huge * 8

    fieldset
        padding-top: 1em !important
        border-radius: $tiny

        legend
            line-height: 1
            padding: 1em

    .input-field
        margin: 0

        &.stInputHalfLeft
            padding-right: $tiny

        &.stInputHalfRight
            padding-left: $tiny

        &>label
            position: relative

    input, select, #st-checkout-card-element
        padding: $tiny $small
        margin-bottom: 1em
        width: 100%
        border-radius: $ittybitty
        border: 1px solid black(.25)
        transition: border .25s linear

        &.invalid
            border: 1px solid red
        
        &.valid
            border: 1px solid green

        &:focus:not(.invalid)
            border: 1px solid azure()

        &::placeholder
            opacity: 1
            color: black(.25)
            font-style: italic

    select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none

        &.selector, option:selected
            color: black(.6)

    .input-field.required:before, .input-field.required [type="checkbox"]:required+label:after
        color: red
        display: block
        height: 0
        position: absolute
        top: 20%
        right: 1em
        content: "*"

        &.stInputHalfLeft
            right: 1.5em

    .stFormHeader
        padding-bottom: 1em
        line-height: $small

    .stFormBody
        padding: 1em 1em 0

    .stForgotBlock
        padding-bottom: 1em
        text-align: center

    .stFormButtons
        text-align: center

        .stFormButton
            background-color: azure()

    h1,h2
        font-size: 1.25em
        color: sunrise()
        text-transform: none
        
    span
        font-size: $small
        font-style: italic

        a
            text-decoration: underline
            cursor: pointer
            color: inherit

footer

    img
        display: block
        width: 100%
        height: auto
