#stStripped
    max-width: $bodyw
    width: 100%
    +centerpos

    #stStrippedInset
        padding: $large

        #stFormErrors
            color: red
            font-size: $small
            padding: 0 $large $large
            text-align: center

            a
                text-decoration: underline

        #stStrippedSpacer
            border-radius: 1em
            margin: 0
            overflow: hidden

            header
                position: relative
                font-weight: 700
                height: 3em
                text-transform: uppercase
                color: white(.85)

                & > div.col
                    text-align: center
                    height: 100%

                    img
                        height: 100%
                        width: auto
                        display: inline-block

            .stFormWrapper
                font-size: $bodytext
                min-height: $huge * 8
                padding: $large !important

                .input-field
                    margin: 0

                    &.st-input-half-left
                        padding-right: $tiny

                    &.st-input-half-right
                        padding-left: $tiny

                    &>label
                        position: relative

                input, select, #st-checkout-card-element
                    padding: $tiny $small
                    margin-bottom: 1em
                    width: 100%
                    border-radius: $ittybitty
                    border: 1px solid black(.25)
                    transition: border .25s linear

                    &.invalid
                        border: 1px solid red
                    
                    &.valid
                        border: 1px solid green

                    &:focus:not(.invalid)
                        border: 1px solid azure()

                    &::placeholder
                        opacity: 1
                        color: black(.25)
                        font-style: italic

                select
                    -webkit-appearance: none
                    -moz-appearance: none
                    appearance: none

                    &.selector, option:selected
                        color: black(.6)

                .input-field.required:before, .input-field.required [type="checkbox"]:required+label:after
                    color: red
                    display: block
                    height: 0
                    position: absolute
                    top: 25%
                    right: 1em
                    content: "*"

                .stFormHeader
                    padding-bottom: 1em

                .stFormBody
                    padding: 1em 1em 0

                .stForgotBlock
                    padding-bottom: 1em

                .stFormButtons
                    text-align: center

                    .stFormButton
                        background-color: sunrise()
                        display: block
                        width: 100%

                h1,h2
                    font-size: 1.25em
                    color: sunrise()
                    text-transform: none
                    
                span
                    font-size: $small
                    line-height: 1em
                    font-style: italic

                    a
                        text-decoration: underline
                        cursor: pointer
                        color: inherit
            
            footer

                img
                    display: block
                    width: 100%
                    height: auto
